/* ---- Global Styles ---- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Lato, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --main-text-color: #ec5242;
  --main-color-opac0_8: rgba(236, 82, 66, 0.8);
  --secondary-text-color-dark: #5c5c5c;
  --secondary-text-color-light: #e0e2e3;
  --background-secondary-dark: #272a31;
}

/* ---- Overlay Menu ---- */
.overlay-menu {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(211, 211, 211, 0.7);
  backdrop-filter: blur(7px);
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  width: 80%;
  font-size: 2rem;
}

.overlay-menu .overlay-menu-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.overlay-menu .overlay-menu-link:hover {
  color: #000;
}

.overlay-menu .close {
  align-self: flex-end;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

.overlay-menu .close:hover,
.overlay-menu .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ---- Navigation ---- */
.main-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: block;
  }
}

.top-ribbon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 3.5%;
  color: #fff;
  background-color: var(--background-secondary-dark);
  font-size: 13px;
  gap: 8px;
}

.main-ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3.5%;
}

.main-ribbon-logo .main-logo-link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--main-text-color);
}

.main-ribbon-link-list {
  display: flex;
  color: var(--secondary-text-color-dark);
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.main-ribbon-links {
  color: var(--secondary-text-color-dark);
}

.main-ribbon-links:hover {
  color: var(--main-text-color);
}

.about-link {
  color: var(--main-text-color);
}

.main-ribbon-special {
  font-size: 1rem;
  color: var(--main-text-color);
  background-color: #fff;
  border: 3.5px solid var(--main-text-color);
  padding: 8px 10px;
}

.main-ribbon-special:hover {
  color: #fff;
  background-color: var(--main-text-color);
  cursor: pointer;
}

.ham-navigation {
  padding: 5%;
  padding-bottom: 8%;
}

.ham-navigation img {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .ham-navigation {
    display: none;
  }
}

/* ---- Headline ---- */
.nav-headline-container {
  background-image: url(src/background/people-walking.jpg);
  background-size: 50%;
  background-repeat: repeat-x;
}

@media screen and (min-width: 768px) {
  .nav-headline-container {
    background-size: 30%;
  }
}

.background-blur {
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(211, 211, 211, 0.7);
}

@media screen and (min-width: 768px) {
  .background-blur {
    padding-top: 10%;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3.5%;
}

.logo {
  color: var(--main-text-color);
  font-size: 2rem;
  font-weight: 700;
}

.about-title-container {
  text-align: center;
}

.pre-title {
  color: var(--main-text-color);
  font-size: 1.5rem;
}

.title {
  background-image: url(src/background/red-yellow-flowing.jpg);
  -webkit-background-clip: text;
  background-size: contain;
  color: transparent;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 0;
}

.about-title {
  background-color: var(--main-text-color);
  -webkit-background-clip: text;
  background-size: contain;
  color: transparent;
  font-size: 2.3rem;
  font-weight: 900;
  padding: 0;
}

.headline-text {
  color: var(--secondary-text-color-dark);
  font-size: 14px;
  line-height: 25px;
  padding: 5%;
  background-color: rgba(220, 220, 220);
  border: 1px solid #f3f3f3;
}

.about-headline-text {
  color: var(--secondary-text-color-dark);
  font-size: 14px;
  line-height: 25px;
  padding: 4% 2%;
  background-color: #fff;
  border: 1.5px solid #d8d8d8;
  text-align: center;
}

.about-detail-text {
  color: var(--secondary-text-color-dark);
  font-size: 13px;
  line-height: 25px;
  padding: 2%;
  text-align: center;
}

.upcoming {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  gap: 10px;
  margin-bottom: 10%;
}

.upcoming .date {
  color: var(--secondary-text-color-dark);
  font-weight: 900;
}

.upcoming .location {
  color: var(--secondary-text-color-dark);
  font-size: 14px;
}

/* ---- Main Courses ---- */
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5%;
  gap: 8px;
  background-image: url(src/background/main-background.svg);
  background-color: #272a31;
  background-repeat: repeat;
  color: #fff;
}

.course-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .course-list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: none;
  }
}

.courses-header {
  align-self: center;
  font-weight: 500;
  color: var(--secondary-text-color-light);
}

.half-border-red {
  border-bottom: 1.5px solid var(--main-text-color);
  width: 40px;
  align-self: center;
  margin: 2% 0 5%;
}

.course-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  min-height: 6rem;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 768px) {
  .course-container {
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    min-height: 0;
    padding: 5%;
  }

  .course-container:hover {
    transform: scale(1.02);
    border: 0.5px solid #fff;
  }
}

.course-heading {
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .course-heading {
    min-height: 7%;
  }
}

.course-image-container {
  max-width: 18%;
}

@media screen and (min-width: 768px) {
  .course-image-container {
    max-width: 30%;
  }
}

.course-container img {
  width: 100%;
}

.course-description {
  width: 50%;
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary-text-color-light);
}

@media screen and (min-width: 768px) {
  .course-description {
    width: 100%;
    height: 130px;
    padding: 5% 10%;
  }
}

.join-link {
  align-self: center;
  color: #fff;
  background-color: var(--main-text-color);
  padding: 30px;
  border-radius: 2px;
  margin: 7% 0;
}

@media screen and (min-width: 768px) {
  .join-link {
    display: none;
  }
}

.see-all-courses {
  display: none;
  font-size: 14px;
  color: #fff;
  padding: 5% 0 3%;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.see-all-courses-link {
  color: var(--secondary-text-color-light);
}

@media screen and (min-width: 768px) {
  .see-all-courses {
    display: block;
  }
}

/* ---- Course Teachers ---- */
.teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5% 0 5%;
  gap: 20px;
}

.teachers-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .teachers-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 3.5%;
  }
}

.teachers-header {
  align-self: center;
  font-weight: 500;
  color: var(--secondary-text-color-dark);
}

.teacher-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.desktop-ver {
  display: none;
}

.teacher-sub {
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  .desktop-ver {
    display: flex;
  }
}

.teacher-image {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(src/background/checkered.svg);
  background-repeat: no-repeat;
  background-size: 45%;
}

@media screen and (min-width: 768px) {
  .teacher-image {
    background-image: url(src/background/checkered-desktop.svg);
  }
}

.teacher-image img {
  z-index: 1;
  position: relative;
  width: 90%;
  height: 90%;
}

.teacher-title {
  font-size: 12px;
  color: var(--main-text-color);
}

.half-border-gray {
  border-bottom: 1.5px solid #d8d8d8;
  width: 20px;
  align-self: center;
  margin: 3% 1% 5%;
}

.teacher-description {
  /* min-width: 250px; */
  font-size: 12px;
}

.teacher-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin-top: 30px;
  padding: 10px 3%;
  border: 1.5px solid #d8d8d8;
  border-radius: 5px;
}

.teacher-more-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  color: var(--secondary-text-color-dark);
}

@media screen and (min-width: 768px) {
  .teacher-more {
    display: none;
  }
}

/* ---- Brand ---- */
.brand {
  padding: 3.5%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-bottom: 1.5px solid #d8d8d8;
}

.brand-title {
  color: var(--secondary-text-color-dark);
  font-weight: 500;
}

.brand-description {
  padding: 0 7% 3%;
  color: var(--secondary-text-color-dark);
  font-size: 14px;
  text-align: center;
}

.brand-logo-box {
  border: 1.5px solid #d8d8d8;
  padding: 8%;
  margin-bottom: 5%;
}

/* ---- Alumni ---- */
.alumni {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 3.5%;
}

.alum-header {
  color: var(--secondary-text-color-dark);
  font-weight: 500;
}

.alum-header-desc {
  font-size: 13px;
  text-align: center;
  color: var(--secondary-text-color-dark);
  padding: 0% 10% 5%;
}

.alum-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .alum-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 750px;
  }
}

.alum-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .alum-container {
    margin: 0;
  }
}

.alum1 {
  background-image: url(src/background/alumni-1.jpg);
  background-size: cover;
}

.alum2 {
  background-image: url(src/background/alumni-2.jpg);
  background-size: cover;
}

.alum-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 15%;
  color: #fff;
  background-color: var(--main-color-opac0_8);
}

.alum-title {
  font-size: 2rem;
}

/* ---- Footer ---- */

.alt-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5%;
  gap: 20px;
  color: var(--secondary-text-color-light);
  background-color: var(--background-secondary-dark);
}

.desktop-footer {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-footer {
    display: flex;
  }

  .mobile-footer {
    display: none;
  }
}

.partner-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .partner-list {
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
  }
}

.partner-first-row {
  grid-column: span 2;
}

.partner-second-row {
  grid-column: span 3;
}

.partner {
  padding: 8px;
  opacity: 0.6;
  transition: transform 0.5s, opacity 0.5s;
}

.partner-list-link {
  color: var(--secondary-text-color-light);
  font-size: 1.2rem;
  transition: text-shadow 0.5s;
}

.partner:hover {
  opacity: 1;
  transform: scale(1.1);
  text-shadow: 2px 2px 5px var(--secondary-text-color-light);
  cursor: pointer;
}

.fix-footer-container {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 3.5%;
  border-top: 1.5px solid #d8d8d8;
}

.footer-logo {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  margin-left: 5%;
  font-size: 1rem;
}

.footer-desc {
  font-size: 12px;
  line-height: 20px;
  padding-right: 5%;
}

@media screen and (min-width: 768px) {
  .dark-fix-footer {
    color: var(--secondary-text-color-light);
    background-color: var(--background-secondary-dark);
  }
}
